@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.Teachers_container{
  position: absolute;
  top: 9rem;
  left: 10px;
  width: 17rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(255, 166, 0, 0.226);
}
.Schedule_view{
  position: absolute;
  top: 32rem;
  left: 10px;
  width: 17rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
}
#Schedule_view_title{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: orange;
}
#select_tec_button{
  display: flex;
  justify-content: center;
  align-items: center;
}
#Selecte_tec{
  width: 6rem;
  margin-right: 1rem;
  height: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(255, 166, 0, 0.226);
  outline: none;
  border: 1px solid rgb(0, 0, 0);
}

#Selected_teacher{
  outline: none;
  border: none;
  border-bottom: 1px solid orange;
  font-size: 1.1rem;
  margin: 1rem 1rem;
  background-color: rgb(255, 255, 255) ;
  
}
.Schedule_view_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}
.Schedule_view_form>label{
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.2rem 0rem;
  color: rgb(82, 79, 79);
}

#class_data_container{
  position: absolute;
  top: 9rem;
  right: 10px;
  width: 17rem;
  /* display: flex; */
  display: none;
  flex-direction: column;
  padding: 1rem 0rem;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(255, 166, 0, 0.226);
}
.every_class{
  margin-top: 1rem;
}
#class_data_container_teacher_name{
  /* border-bottom: 2px solid black; */
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  margin: auto;
}

.class_data_container_main{
  /* border-bottom: 2px solid rgb(115, 48, 192); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  margin: auto;
  padding: 0.2rem 0rem;
}
.class_date{
  display: flex;
  justify-content: center;
}
.class_time{
  display: flex;
  flex-direction: row;
  width: 8rem;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid rgb(115, 48, 192);
}

.teacher_list{
 margin: 1rem 0rem;
  display: flex;
  justify-content: space-between;
}

.Teacher_container_title{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  /* height: 10rem; */
}
.Scheduler__container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  padding: 1rem 1rem;
  margin: 1rem 0rem;
  margin-bottom: 3rem;
}
.Scheduler__container_header_left {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.Scheduler_title{
    color: rgb(255, 115, 0);
}
.Scheduler__container_header_middle {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.present_day{
    color: rgb(255, 153, 0); 
}
.Scheduler__container_header_right {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.button {
  width: 6rem;
  margin-right: 1rem;
  height: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(250, 224, 179);
  outline: none;
  border: 1px solid rgb(0, 0, 0);
}
.button:active {
  background-color: rgb(255, 255, 255);
  color: orange;
}
#header_logo {
  height: 50px;
  width: 50px;
  margin-right: 1rem;
  margin-left: -1.5rem;
  filter:sepia(1);
}
.Scheduler__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Scheduler__container_weeks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 90px;
  width: 900px;
  /* margin-top: 7rem; */
}
.week_name {
  font-family: "Comfortaa", cursive;
  font-size: 1.3rem;
  font-weight: bold;
  color: orange;
}
.Scheduler__container_days {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  width: 900px;
}
.each_day {
  width: 118.574px;
  height: 100px;
  margin: 5px 5px;
  background-color: rgb(247, 247, 247);
  box-shadow: 1px 1px 5px rgb(228, 226, 226);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.2rem 0rem 0rem 0.2rem;
  font-family: "Baloo Tammudu 2", cursive;
}
.blank{
    visibility: hidden;
}
.event_popup{
    display: none;
    border: 1px solid black;
    padding: 1rem 0rem;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.205);
    position: absolute;
    height: 100vh;
    width: 100vw;
}
.event_popup>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    padding: 1rem 1rem;
    border-radius: 10px;
    color: orange;
    border: 2px solid black;
    width: 30rem;
    margin: auto;
   
}
.input_form{
    outline: none;
    border: none;
    border-bottom: 1px solid orange;
    font-size: 1.1rem;
    margin-left: 1rem;
    background-color: rgb(255, 255, 255) ;
    margin-bottom: 1rem;
}
.for_day{
    margin-bottom: 1rem;
}
.saved{
  background-color: rgb(195, 232, 247);
}
.manual_edit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 850px;
  margin-top: 1rem;
}
.manual_edit>button{
  width: 6rem;
  margin-right: 1rem;
  height: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(250, 224, 179);
  outline: none;
  border: 1px solid rgb(0, 0, 0);
}

.manual_edit>button:active {
  background-color: rgb(255, 255, 255);
  color: orange;
}
#manual_event_popup{
  display: none;
  border: 1px solid black;
  padding: 1rem 0rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.205);
  position: absolute;
  height: 100vh;
  width: 100vw;
}
#manual_event_delete_popup{
  display: none;
  border: 1px solid black;
  padding: 1rem 0rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.205);
  position: absolute;
  height: 100vh;
  width: 100vw;
}
#manual_event_popup>form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  padding: 1rem 1rem;
  border-radius: 10px;
  color: orange;
  border: 2px solid black;
  width: 30rem;
  margin: auto;
}
#manual_event_delete_popup>form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  padding: 1rem 1rem;
  border-radius: 10px;
  color: orange;
  border: 2px solid black;
  width: 30rem;
  margin: auto;
}
.manual_input_form{
  outline: none;
  border: none;
  border-bottom: 1px solid orange;
  font-size: 1.1rem;
  margin-left: 1rem;
  background-color: rgb(255, 255, 255) ;
  margin-bottom: 1rem;
}
#manual_date{
  margin-left: 5rem;
  margin-bottom: 1rem;
}